:root {
    --cells:16;
}
button {
    background-color: white;
    border: none;
}

body {
    font-family: 'Pacifico', 'Times New Roman', Times, serif;
    padding:0px;
    transform:translateY(-10px) translateX(-10px);
    width:100%;
    background-color:bisque;
}
.head {
    background-color:rgb(255, 204, 141);
    font-family: 'Asimovian', 'Times New Roman';
    font-weight: bold;
    border:none;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #b71313;
    font-family: "Nunito", "Edu NSW ACT Cursive", 'Times New Roman', Times, serif;
}
.controls{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
}
.container {
    z-index: 0;
    margin:0px;
    padding:0px;
}
.sketch-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid rgb(255, 0, 0);
    height: 77vh;
    width: 77vw;
}
.sketch-container{
    display: flex;
    justify-content: center;
    
}

.sketch-cell {
    background-color: white;
    border: 0.5px solid rgba(0, 0, 0, 0.493);
    width:100%;
}
.sketch-row {
    display: flex;
    justify-content: space-evenly;
    height:100%;
}

.resize{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    z-index: 1;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    border: 1px solid black;
    border-radius: 10px;
    height: 100px;
    width: auto;
    padding: 50px;
    padding:50px;
}

#rows{
    color:black;
}
#columns{
    color: black;
}

#submit{
    font-size: large;
    transform: translateY(50%);
    border:1px black solid;
}
.hide{
    opacity: 0%;
    pointer-events: none;
}
.hide1{
    opacity: 10%;
    pointer-events: none;
}

#close {
    position:fixed;
    top:5%;
    right: 5%;
}

#clear,#resize,#toggle-black,#toggle-color{
    background-color:bisque;
}

